.leaflet-container{
    height: 50vh;
    width: 100%;
}

.pubTravView{
    margin: 0 5%;

    &-header{
        margin-bottom: 1em;
    }
    &-infos{
        text-align: center;
        border: 1px solid #afafaf;  
        background-color: rgba(255, 255, 255, 0.653);
        border-radius: 5px;
    }
    &-title{
        font-size: 2em;
        margin: 1.5em;
        font-weight: bold;
    }
    &-date{
        font-size: 1em;
        font-weight: bold;
    }
    &-photo{
        display: flex;
    }
        
    &-cover{
        height: 250px;
        width: 400px;
        border: 1px solid #afafaf;
        border-radius: 5px;
    }
    &-picture{
        align-self: center;
        margin-left: 8em;
        
    }
    &-avatar{
        object-fit: cover;
        width: 100%;
        height: 100%;  
        border-radius: 50%;
        border: 1px solid #afafaf;
        filter: drop-shadow(1px 1px 3px grey);
    }
    &-name{
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        text-shadow: 1px 1px 3px grey;
    }

    //partie du bas
    &-main{
        align-items: center;
        margin: auto;
        border: 1px solid #afafaf;
        border-radius: 5px;
    }
}

.top-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
}

.avatar-block{
    width: 150px;
    height: 150px;  
}